.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    img {
      width: 5em;
    }
  }
  
  .connect-link {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 5px 13px;
    border-radius: 20px;
  }
}
